

<br>
<form action="/articles" method="post">

<label for="title">Title:</label><br>
<input type="text" id="title" name="article[title]"><br>

<label for="content">Content:</label><br>
<input type="text" id="content" name="article[content]"><br>

<input type="submit" id="submit" value="submit">

</form>

